/* Navbar.css */
.navbar {
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: calc(100% - 250px); /* Full width minus the sidebar width */
    top: 0;
    left: 250px; /* Adjust for the width of the sidebar */
    z-index: 1000;
}

.navbar-left h2 {
    margin: 0;
    font-size: 18px;
}

.navbar-left p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.navbar-center {
    display: flex;
    align-items: center;
}

.create-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.create-btn svg {
    margin-right: 5px;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #444;
    padding: 5px;
    border-radius: 4px;
}

.search-form input {
    background: none;
    border: none;
    color: white;
    padding: 5px;
    outline: none;
    width: 200px;
}

.search-icon {
    color: #ccc;
    margin-right: 5px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.user-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}


/* Add this to your CSS file */
.user-initials {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #007bff; /* Adjust background color as needed */
    color: white;
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 8px; /* Adjust spacing as needed */
    cursor: pointer;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #444;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
