.links-container {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow-x: auto;
}

.short-link-container {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.copy-btn {
    color: #3B3C51;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s;
}

.copy-btn:hover {
    transform: scale(1.1);
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.status.active {
    color: #1EB036;
}

.status.inactive {
    color: #B0901E;
}

.edit-btn, .delete-btn {
    background: none;
    color: #3B3C51;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    transition: transform 0.2s;
}

.edit-btn:hover, .delete-btn:hover {
    transform: scale(1.1);
}
