.settings-container {
    padding: 20px;
    background-color: #fff;
    max-width: 500px;
    margin: 60px auto;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group label {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    min-width: 100px;
    color: #181820;
}

.form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ECECF2;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

.settings-buttons{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}


.settings-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.save-button {
    background-color: var(--background-color);
}

.delete-button {
    background-color: #EB0D0D;
}
