*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    height: 100vh;
}

.navbar {
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: calc(100% - 250px); /* Full width minus the sidebar width */
    position: fixed;
    top: 0;
    left: 250px; /* Adjust for the width of the sidebar */
    z-index: 1000;
}

.sidebar {
    width: 250px;
    background-color: #222;
    color: white;
    height: 100vh; /* Full height */
    position: fixed;
    top: 0;
    left: 0;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 250px; /* Adjust for the width of the sidebar */
    margin-top: 60px; /* Adjust for the height of the navbar */
    overflow-y: auto;
    width: calc(100% - 250px); /* Full width minus the sidebar width */
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}
